{% extends 'base.html' %}

{% load static %}
{% block content %}
{% include 'navbar.html' %}
  <main class="grid md:grid-cols-8 h-[90vh] mt-[5rem]">

    {% include 'sidebar.html' %}
    <div class="w-full md:col-span-4 overflow-y-scroll no-scrollbar">
        <div class="bg-white mx-auto w-[90%] mb-2 md:mb-4 mt-[6rem] md:mt-8 p-6 rounded-xl">
            <div class="flex items-center justify-start gap-6">
                {% if request.user.photo_profile %}
                  <a href="{% url 'users:profile' request.user.id  %}">
                    <img class="rounded-full w-[50px] h-[50px]" src="{{ request.user.photo_profile.url}}" alt="{{ post.image}}">
                  </a>
                {% else %}
                  <a  href="{% url 'users:profile' request.user.id  %}">

                    <svg class="w-[50px] h-[50px] text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                    </svg>
                  </a>
                {% endif %}

                 <!-- Modal toggle -->
                 <button class="flex gap-4" data-modal-target="default-modal" data-modal-toggle="default-modal" type="button">
                   
                    <svg class="w-6 h-6 text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    <p class="text-slate-400">What are you doing today?</p>
                  </button>

                  <!-- Main modal -->
                  <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                      <div class="relative p-4 w-full max-w-2xl max-h-full">
                          <!-- Modal content -->
                          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                              <!-- Modal header -->
                              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                              
                                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                      </svg>
                                      <span class="sr-only">Close modal</span>
                                  </button>
                              </div>
                              <!-- Modal body -->
                              <div class="p-4 md:p-5 space-y-4">
                                  <form action="" method="post" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      {{ form }}
                                      <button type="submit" class="pink-normal w-full p-2 text-white rounded-md font-normal mt-4 ">Publish</button>
                                    </form>
                              </div>
                              
                          </div>
                      </div>
                  </div>

            </div>
        </div>
        
        {% include 'posts.html' %}
    </div>
    {% comment %} !todo create sidebar right{% endcomment %}

<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    // Inicializa CKEditor en el campo del formulario
    CKEDITOR.replace('id_content');
</script>
  </main>
{% endblock %}
