{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

  <main class="grid md:grid-cols-8 h-[90vh] mt-[5rem]">

    {% include 'sidebar.html' %}
    <div class="w-full md:col-span-4 overflow-y-scroll no-scrollbar">
        <div class="bg-white mx-auto w-[90%] my-8 p-6 rounded-xl">
            <div class="flex items-center justify-start gap-6">
                {% if request.user.photo_profile %}
                    <img class="rounded-full w-[50px] h-[50px]" src="{{ request.user.photo_profile.url}}" alt="{{ post.image}}">
                {% endif %}
                {% comment %} !todo add image default if not photo profile {% endcomment %}
               <div class="flex gap-4">
                    <svg class="w-6 h-6 text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                  <p class="text-slate-400">What are you doing today?</p>
               </div>
           
            </div>
        </div>
        {% include 'posts.html' %}
    </div>
    {% comment %}! todo create sidebar right{% endcomment %}

  </main>
{% endblock %}
