{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
{% load static %}
{% load add_class %}

<main class="grid md:grid-cols-8 h-[90vh] mt-[5rem] ">

    {% include 'sidebar.html' %}
    <div class="w-full md:col-span-6  overflow-y-scroll no-scrollbar border-l border-l-slate-300">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 mt-[5rem] md:mt-6 w-[95%] mx-auto">
            <a href="{% url  'users:change_password' %}" class="border border-slate-300 rounded-md p-4  ">
                <h2 class="text-slate-400 text-center">Change password</h2>
                <svg class="w-[60%] h-[60%] mx-auto text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
                </svg>   
            </a>
            <a href="{% url 'posts:saved_list'   %}" class="border border-slate-300 rounded-md p-4  ">
                <h2 class="text-slate-400 text-center">Saved posts</h2>
                <svg  class="w-[60%] h-[60%] mx-auto text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z"/>
                </svg>  
            </a>
            <a href="{% url 'posts:likes' %}" class="border border-slate-300 rounded-md p-4  ">
                <h2 class="text-slate-400 text-center">Likes</h2>
                <svg class="w-[60%] h-[60%] mx-auto text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                </svg>   
            </a>
            <a href="#" class="border border-slate-300 rounded-md p-4  ">
                <h2 class="text-red-700 text-center">Delete account</h2>
                <svg class="w-[60%] h-[60%] text-red-700 mx-auto " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M5 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm-2 9a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-1Zm13-6a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-4Z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </div>
</main>

{% endblock %}
