{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
{% load static %} 

  <main class="grid md:grid-cols-8 h-[90vh] mt-[5rem]">
    {% include 'sidebar.html' %}
        <div  class="w-full mt-[5rem] md:mt-10  md:col-span-6  overflow-y-scroll no-scrollbar border-l border-l-slate-300">
            {% for message in messages %}
                <p class="text-center font-bold ">{{message }}</p>
            {% endfor %}
            <div class="flex justify-center  h-full ">
                <form action="{% url  'users:change_password' %}" method="post" class="text-slate-400">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="pink-normal text-white w-full  mt-4 rounded-md p-2 text-center font-bold">Change</button>
                </form>
            </div>

        </div>
  </main>
{% endblock %}
