{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
{% load static %}
{% load add_class %}
{% load verify_saved %}
{% load verify_like %}
<main class="grid md:grid-cols-8 h-[90vh] mt-[5rem] ">

    {% include 'sidebar.html' %}
    <div class="w-full md:col-span-4  overflow-y-scroll no-scrollbar border-l border-l-slate-300">
        <div class="bg-white mx-auto w-[90%] my-8 p-8 rounded-xl">
            <div class="flex justify-between">
                <div class="flex items-center justify-start gap-6" id="{{ post.id }}">

                    {% if post.user.photo_profile %}
                        <img class="rounded-full w-[50px] h-[50px]" src="{{ post.user.photo_profile.url}}" alt="{{ post.image}}">
                    {% else %}
                        <svg class="w-14 h-14 text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                        </svg>    
                    {% endif %}
                   
                    <div>
                        <a href="{% url 'users:profile' post.user.id %}">{{ post.user.username}}</a>
                        <p class="text-slate-400 text-pretty text-[12px] md:text-[15px]">{{ post.user.email}}</p>
                    </div>
                </div>
                <!-- Section Dropdown Options -->
                <button id="dropdownMenuIconButton{{ forloop.counter }}" data-dropdown-toggle="dropdownDots{{ forloop.counter }}" class="inline-flex items-center p-2 text-sm font-medium text-center text-sky-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
                    <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                    </svg>
                </button>
                    
                <!-- Dropdown menu -->
                <div id="dropdownDots{{ forloop.counter }}" class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton{{ forloop.counter }}">
                        {% if post.user == request.user %}
                        <li>
                            <a href="{% url 'posts:delete_post' pk=post.id path=request.get_full_path_info %} " class="flex text-red-600 gap-2 my-2 p-1">
                                <svg class="w-6 h-6  dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                </svg>
                                Delete post
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'posts:update_post' post.id   %}" class="flex text-sky-500 gap-2 my-2 p-1">
                                <svg class="w-6 h-6  dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                                </svg>
                                Update post 
                            </a>
                        </li>
                        {% else %}
                        <li>
                            {% if post|verify_saved:request.user %}
                            <a href="{% url 'posts:saved_remove' pk=post.id path=request.get_full_path_info  %}" class="p-2 flex gap-2 my-1 text-sky-500 items-center">
                                <svg  class="w-6 h-6   dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z"/>
                                </svg>  
                                Remove from saved 
                            </a>
                            {% else %}
                            <a href="{% url 'posts:saved_add' pk=post.id path=request.get_full_path_info %}" class="p-2 flex gap-2 my-1 text-sky-500 items-center">
                                <svg class="w-6 h-6  dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z"/>
                                </svg>
                                Save post
                            </a>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- End Dropdown menu -->
            </div>
            <p class="text-[14px] mt-2  text-slate-400"> {{ post.created }}</p>
            <a href="{% url 'posts:detail' post.id %}" class="mt-6" >{{ post.content|safe }}</a>
            {% if post.image %}
                <img class="z-50 rounded-xl mx-auto mt-8 h-[500px] object-contain" src="{{ post.image.url}}" alt="{{ post.image}}">
          
            {% endif %}
            <div class="flex justify-between items-center mt-6">

                <div class="flex items-center justify-around w-[50%]">
                    <div class="flex ">

                        {% if post|verify_like:request.user %}
                            <a href="{% url 'posts:remove_like' pk=post.id path=request.get_full_path_info  %}">
                                <svg class="w-6 h-6 text-sky-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                                </svg>
                            </a>
                        {% else %}
                            <a href="{% url 'posts:add_like'  pk=post.id path=request.get_full_path_info %}">
                                <svg class="w-6 h-6 text-sky-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                                </svg>
                            </a>
                        {% endif %}
                        {% if post.likes.all.count > 0 %}
                            <p class="text-sky-400 text-[13px]">{{post.likes.all.count}}</p>
                        {% endif %}
                    </div>

                    <a href="#">
                        <svg class="w-6 h-6 text-sky-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M3 6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-6.616l-2.88 2.592C8.537 20.461 7 19.776 7 18.477V17H5a2 2 0 0 1-2-2V6Zm4 2a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2H7Zm8 0a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2h-2Zm-8 3a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7Zm5 0a1 1 0 1 0 0 2h5a1 1 0 1 0 0-2h-5Z" clip-rule="evenodd"/>
                        </svg>

                    </a>
                    <a href="#">
                        <svg class="w-6 h-6 text-sky-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"/>
                          </svg>
                          
                    </a>
                </div>
            </div>
        </div>
        <!-- comments-->
        <div class="border border-slate-300 mx-auto w-[90%] my-8 py-8 px-0 rounded-xl">
            {% comment %} !todo add comments {% endcomment %}
            {% include "comments.html" %}
        </div>
    </div>
</main>

{% endblock %}
