{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
{% load static %}
{% load add_class %}

<main class="grid md:grid-cols-8 h-[90vh] mt-[5rem] ">

    {% include 'sidebar.html' %}
    <div class="w-full md:col-span-4  overflow-y-scroll no-scrollbar border-l border-l-slate-300">
        {% if posts %}
            {% include "posts.html" %}
        {% else %}
            <h1 class="mt-8 text-center text-pretty font-bold text-xl">No likes</h1>
        {% endif %}
    </div>
</main>

{% endblock %}
