<form  method='post'  class=" w-full" >
    {% csrf_token %}
    <div class="w-full mx-auto flex gap-2 justify-center items-center">
        {{ form.comment }}
        <button class=" h-[50px]  rounded-md px-2 py-0 border border-slate-300" type="submit">
            <svg class="w-6 h-6 text-slate-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
        </button>
    </div>
</form>
