{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}
{% load static %}
{% load add_class %}
<main class="grid md:grid-cols-8 h-[90vh] mt-[5rem] ">
    
    {% include 'sidebar.html' %}
    <div class="w-full mt-[6rem] md:mt-6 md:col-span-6  overflow-y-scroll no-scrollbar border-l border-l-slate-300">
    
        {% if request.GET.ok == '1' %}
            <div id="message_success" class="border mt-10 w-[30%] border-sky-500 rounded-md p-2 text-sky-500 text-center mx-auto transition-transform ease-out ">
                <p>Update profile successs</p>
            </div>
        {% endif %} 
        <form method="post" enctype="multipart/form-data" class="grid md:grid-cols-2 gap-8 w-[95%] mx-auto mb-8 mt-4">
            {% csrf_token %}
            <div>
                <label class="text-slate-400">username</label>
                {{ form.username|add_class:'border border-slate-300 w-full rounded-md bg-transparent my-2' }}
                <label class="text-slate-400">email</label>
                {{ form.email|add_class:'border border-slate-300 w-full rounded-md bg-transparent my-2' }}
                <label class="text-slate-400">first name</label>
                {{ form.first_name|add_class:'border border-slate-300 w-full rounded-md bg-transparent my-2' }}
                <label class="text-slate-400">last name</label>
                {{ form.last_name|add_class:'border border-slate-300 w-full rounded-md bg-transparent my-2' }}
                <label class="text-slate-400" for="">birthdate</label>
                {{ form.birthdate}}
                <button class="w-full text-white pink-normal mt-4 rounded-md p-2" type="submit">Update</button>
            </div>
            <div >
                <div id="conatiner_photo" class="flex items-end">
                    {% if user.photo_profile %}
                        <div>
                            <img class="  w-[80px] h-[80px] rounded-full " src="{{ user.photo_profile.url}}" alt="{{ user.username}}">
                        </div>
                    {% else %}
                        <div>
                            <svg class="w-[80px] h-[80px] text-slate-400 dark:text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                    {% endif %}
                    <label for="id_photo_profile">
                        <svg class="w-[30px] h-[30px] text-slate-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                        </svg>
                    </label>
                    {{form.photo_profile|add_class:'bg-transparent hidden'}}      
                </div>
            
                <label class="text-slate-400">bio</label>
                {{ form.bio|add_class:'border resize-none border-slate-300 w-full rounded-md bg-transparent my-2' }}
            </div>
              
      </form>
    </div>
    <script src="{% static 'users/index.js' %}"></script>
{% endblock %}
